name: Deploy to GitHub Pages

on:
  push:
    branches: 
      - '*'  # any branch

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: .
          destination_dir: ${{ github.ref_name == 'main' && '' || github.ref_name }}
